body{
    background-color: #491778;
}
h1{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
    color: white;
}
#central-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form{
    background-color: white;
    height: 20em;
    width: 20em;
    padding: 1em;
    border-radius: 10px;
}
.form input{
    margin: 0em 0.5em 0em 0.5em;
}

div{
    padding-bottom: 1em;
}

#add-grade-div{
    display: flex;
}

#calculate-media-btn{
    margin: 0.5em 0 0.5em 0;
}
